@import url("http://fonts.cdnfonts.com/css/itc-avant-garde-pro-md");

body {
  margin: 0;
}
.carousel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin-top: 10px;
}
.slider {
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider::before,
.slider::after {
  background-color: white;
  content: "";
  height: 100px;
  position: absolute;
  z-index: 2;
}
.slider::before {
  top: 0;
  left: 0;
}
.slider::after {
  top: 0;
  right: 0;
  transform: rotateZ(180deg);
}

@keyframes scroll {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateX(calc(-150px * 7));
  }
}

@-webkit-keyframes scroll {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateX(calc(-150px * 7));
  }
}

.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 20s linear infinite;
  display: flex;
  width: calc(150px * 14);
}

.slider .slide {
  height: 180px;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  height: 30px;
  margin: 0px 40px;
  filter: saturate(0);
  transition: 0.3s;
}

.slide img:hover {
  filter: saturate(1);
}

/* Style the navbar */
.topnav {
  overflow: hidden;
  background-color: white;
}

/* Navbar links */
.topnav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: white;
  width: 100vw;
  border: solid rgb(221, 220, 220);
  border-width: 0 0 2px 0;
  margin-bottom: 10px;
  font-family: "ITC Avant Garde Pro Md", sans-serif;
}

.nav-links {
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: black;
  margin-right: 15px;
  font-weight: 500;
  font-size: 14px;
}

.nav-login {
  color: white;
  background-color: #00afcb;
  border-radius: 3px;
  border-style: none;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.nav-links a:hover {
  color: #11b4ce;
}

.payment {
  display: block;
  text-align: center;
  font-weight: bolder;
  font-family: "ITC Avant Garde Pro Md", sans-serif;
  font-size: 38px;
  padding: 1vw;
}
